# Set default behavior to automatically normalize line endings.
* text=auto

# Treat these files as binary
*/Resources/signed.save                binary
*/Resources/unsignedCompressed.save    binary
*/Resources/unsignedDecompressed.save  binary